INDEXING_BLOCK_RANGE=10
STARTING_BLOCK=21822210
CHAIN_ID=31337
CHAIN_RPCS=http://127.0.0.1:8545/,http:rpc2:8545
WALLET_PKS=0xxxxxx1,0xxxxxxxx2
WALLET_ETH_MIN_BALANCE=0.01
SENTRY_SDN=
DATABASE_URL=postgresql://postgres:@localhost:5432/tangent