node_modules
.env
ethers-contracts
build
dist
.nyc_output
coverage
src/typechain
# Sentry Config File
.sentryclirc
.vscode
/src/data/*.json
prisma/migrations
/src/addresses.json
/src/config/credentials-gDrive.json
.liquidation_errors.log

.local
.claude
.cursor

/run
/--version
/--help

.local/
